body{
    background-color: white;
    font-family: 'Farsan', cursive, 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #e2a71b;
    font-size: 2rem;
}
h1{
    margin: 20px;
    font-size: 2.5rem;
    text-shadow: 2px 2px #9e730d;
}
h3{
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: rgba(159,101,64,255);
}
header{
    background: linear-gradient(to left, rgba(241,227,205,255), rgba(210,181,138,255));
    color: rgba(253,253,249,255);
    font-size: 200%;
    text-shadow: 3px 3px rgba(157,118,83,255);
    padding: 10px;
}
.fotona{
    width: 90%;
}
.foto_principal{
    width: 95%;
    margin: 2%;
    filter: drop-shadow(30px 10px 4px #efe0b4);
}
.container{
    display: flex;
    background: linear-gradient(to left, rgba(241,227,205,255), rgba(210,181,138,255));
    justify-content: space-between;
    align-items: flex-start;
    width: 98%;
    margin: 30px 1%;
    flex-wrap: nowrap;
}
.foto_lateral{
    width: 40%;
    margin: 25px 0 25px 0;
    box-sizing: border-box;
}
.receita{
    width: 60%;
    margin: 10px 10px;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Farsan', cursive;
    font-size: 20px;
}

@media (max-width: 980px){
    .header{
        font-size: 2.5rem;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .foto_lateral{
        padding: 15px;
        width: 100%;
        margin: 0 auto;
    }
    .receita{
        flex-wrap: nowrap;
        padding: 15px;
        width: 100%;
        margin: 0;
    }
}